<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create NotePad
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Judul</ion-label>
    <ion-input placeholder="..." [(ngModel)]="judul"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Notes</ion-label>
    <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..." [(ngModel)]="isi"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Date</ion-label>
    <ion-input [(ngModel)]="tanggal" type="date"></ion-input> 
  </ion-item>
  <ion-item>
    <ion-label position="floating">Score</ion-label>
    <ion-input placeholder="0-100" [(ngModel)]="score"></ion-input>
  </ion-item>
  <ion-item>
      <ion-fab-button color="danger" (click)="Foto()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    <ion-label posistion="floating">Click Gambar sebelum Upload! (cuman bisa 1)</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col size="small" *ngFor="let data of fotoservis.dataFoto;index as position">
          <ion-img [src]="data.webviewPath" (click)="getgambar(data)"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <br>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="primary" (click)="upload()">
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
