<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Detail
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Judul:</ion-label>
    <ion-label>{{Judul}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Isi:</ion-label>
    <ion-label>{{Isi}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Tanggal:</ion-label>
    <ion-label>{{Tanggal}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Score:</ion-label>
    <ion-label>{{Score}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-img [src]="Img"></ion-img>
  </ion-item>